---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = 'About Me';

const identity = {
	firstName: 'Odin',
	country: 'United States',
	occupation: 'Software Developer',
	hobbies: ['painting', 'video games', 'learning languages'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'TypeScript', 'C#', 'Vue'];

const skillColor = 'crimson';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>... just tutorializing</h2>

	<p>Some quick facts:</p>
	<ul>{skills.map((x) => <li class="skill">{x}</li>)}</ul>
</BaseLayout>

<style define:vars={{ skillColor }}>
	h1 {
		color: pink;
		font-size: 4rem;
	}
	.skill {
		color: var(--skillColor);
		font-weight: bold;
	}
</style>
