---
import BaseLayout from '@layouts/BaseLayout.astro';
import '../styles/global.css';
import BlogSummary from '@components/BlogSummary.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const allPosts = Object.values(
	import.meta.glob('./posts/*.md', { eager: true }),
);

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Just filling in the text while doing this tutorial</p>
	<ul>
		{
			allPosts.map((post: unknown) => (
				<BlogSummary url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
